.Message {
  position: relative;

  padding: 6px 6px 6px 36px;
  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    position: absolute;
  }
  &__time {
    font-size: 12px;
    color: #717274;
    display: block;
  }
  &__body {
    margin: 0 36px + 12px;
    min-height: 36px;
  }
  &__text {
    color: #222222;
    font-size: 15px;
  }
}
